doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/card/card.css")
        block scripts

        title Hello Express Pug App!
    body

        .nav.menu
            if (token)
                
            if (!token)
                a.item(href="/auth/login")
                    i.file.icon
                    | Connexion
            if (token)
                a.item(href="/home")
                    i.file.icon
                    | home
                a.item(href="/user/profil")
                    i.file.icon
                    | Profil
                a.item(href="/user/all")
                    i.file.icon
                    | Profil
                a.item(href="/auth/logout")
                    i.file.icon
                    | Déconnexion
                
        
        block content