doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/card/card.css")
        link(rel="stylesheet", href="/style/menu/menu.css")
        link(rel="stylesheet", href="/style/listPage/listPage.css")
        link(rel="stylesheet", href="/style/homePage/homePage.css")
        block scripts

        title Hello Express Pug App!
    body

        .menu 
            if (!session.token)
                .empty
                a.item(href="/auth/login")
                    img(src="/image/login.svg", alt="Icone de connexion")
                    | Connexion
            if (session.token)
                a.item(href="/home")
                    img(src="/image/structure.svg", alt="Icone de structure")
                    | Intranet
                a.item(href="/user/list")
                    img(src="/image/list.svg", alt="Icone de list")
                    | list
                if session.isAdmin
                    a.item(href="/user/create")
                        img(src="/image/user.svg", alt="Icone d'ajout")
                        | Ajouter
                a.profil(href=`/user/update/${session.activeUser._id}`)
                    img(src=session.activeUser.photo)
                a.item(href="/auth/logout" , alt="Photo de profil")
                    img(src="/image/logout.svg", alt="Icone de déconnexion")
                    | Déconnexion
                
                
        
        block content