extends ../layouts/frontend

block content
    .home-page
        h1 Bienvenue sur l'intranet 
        p La plate-forme de l'entreprise vous permet de retrouver tous vos collaborateurs.
        h2 Avez-vous dit bonjour à
        include ./card.pug
        button.btn-seconde-edit(onclick="window.location.href='/user/list'") Dire bonjour à quelqu'un d'autre


