extends ../layouts/frontend

block content
    .main
        h1 Bienvenue sur l'intranet 
        p La plate-forme de l'entreprise vous permet de retrouver tous vos collaborateurs.
        h2 Avez-vous dit bonjour à :
        include ./card.pug
        button Dire bonjour a quelqu'un d'autre


