extends ../layouts/frontend
block title
    title Liste des collaborateurs
block content
    .list-page
        h1 Liste des collaborateurs

        form(id="filterForm" action="" method="get")
            input(type="text" placeholder="Recherche ..." name="search")
            label(for="searchBy")
                span Recherche par :
                select(id="searchBy" name="searchBy")
                    option(value="name") Nom
                    option(value="localisation") Localisation
            label(for="category")
                span Catégorie :
                select(id="category" name="category")
                    option(value="all") Tous
                    option(value="Marketing") Marketing
                    option(value="Technique") Technique
                    option(value="Client") Client

        .list-user
            each user in users
                include ./card.pug

    script(src="/script/frontUpdate.js")